.message-area {
  width: 100%;
  height: 100%;
  position: relative;

  &__scroll-list {
    width: 100%;
    height: calc(100vh - 90px);
  }

  &__messages-list {
    display: flex;
    flex-direction: column;
    padding: 15px;
  }
}
