.message-area {
  flex: 1;
  height: 100%;
  position: relative;
  box-sizing: border-box;

  &__scroll-list {
    width: 100%;
    height: calc(100vh - 100px);
  }

  &__messages-list {
    display: flex;
    flex-direction: column;
    padding: 15px;
  }
}
