.password-input {
  position: relative !important;

  input {
    padding-right: 30px;
  }

  &__icon {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 3px;
    right: 5px;
    cursor: pointer;
  }
}
