/*------------------------------------------
Standard Breakpoints
------------------------------------------*/
$smobile: 360px;
$iphone: 375px;
$mobile: 420px;
$small: 576px;
$tablet: 768px;
$note: 992px;
$medium: 1200px;
$large: 1350px;
