$color-dark-gray:                    #181a1b;
$color-light-gray:                   #414547;
$color-text:                         #d6d2cd;
$color-purple:                       #4e1954;
$color-white:                        #ffffff;

// the :export directive is for react files
:export {

}
