$color-dark-gray:                    #181a1b;
$color-dark-purple:                  #121227;
$color-text:                         #d6d2cd;
$color-light-violet:                 #839ffd;
$color-white:                        #ffffff;
$color-black:                        #000000;
$color-creamy-white:                 #e9eaef;

// the :export directive is for react files
:export {

}
